<ion-view  id="view-movies-list">
    <ion-content overflow-scroll="true">
   
        <ion-list style="min-height:900px">
            <ion-item ng-repeat="movie in data.movies | filter: searchString" ui-sref="movies-detail({'id': movie.id})">
                <img ng-src="{{movie.better_featured_image.media_details.sizes.thumbnail.source_url}}" alt="" style="width: 85px; float: left; border: 1px solid #efefef; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.32); margin-bottom: 10px; margin-right: 10px;"/>
                <strong ng-bind-html="movie.title.rendered" style="font-weight: 500; white-space: normal; font-size: 14px; line-height: 1.3; display: inline-block; min-width: 196px; margin-right: 50px;"></strong>
            </ion-item>
         </ion-list>
   <ion-infinite-scroll ng-if="!noMoreItemsAvailable" 
        on-infinite="loadMore()"
        distance="5%">
  </ion-infinite-scroll>
    </ion-content>
</ion-view>
