<ion-view  id="view-movies-detail">
    <ion-content >
        <h3  ng-bind-html="movie.title.rendered" style="margin: 19px; font-size: 18px; line-height: 24px; font-weight: 100;"></h3>
        <style>
            iframe {width: 100%;}
        </style>
        <div  ng-bind-html="trustedContent"></div>

</div>
    </ion-content>
</ion-view>